<!doctype html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<!-- CSS stylesheet -->
		<link th:href="@{/styles.css}" rel="stylesheet" type="text/css"/>

		<title>Ben's Super Sightings</title>
	</head>
	<body>
		<!-- Main Body of Page -->

		<!-- header Jumbotron -->
		<div class="container">
			<a href="#" th:href="@{/}">
				<div class="p-5 text-center bg-light border border-light pageHeader">
					<h1>Super Sightings!</h1>
				</div></a>
				<!-- end header Jumbotron -->


				<!-- nav bar -->
				<div class="row m-4 border border-light nav sticky-top"> 
					<div class="col text-center m-3">
						<a href="supers" class="nav-btn-primary btn-lg">Supers</a>
					</div>
					<div class="col text-center m-3">
						<a href="powers" class="nav-btn-primary btn-lg">Powers</a>
					</div>
					<div class="col text-center m-3">
						<a href="sightings" class="nav-btn-primary btn-lg">Sightings</a>
					</div>
					<div class="col text-center m-3">
						<a href="organizations" class="nav-btn-primary btn-lg">Organizations</a>
					</div>
					<div class="col text-center m-3">
						<a href="locations" class="nav-btn-primary btn-lg">Locations</a>
					</div>

				</div>
				<!-- end nav bar -->

				<div class="col-12 m-1 text-center" th:if="${!errors.isEmpty()}">
					<p class="alert alert-danger" th:each="error : ${errors}" th:text="${error.message}">Error Message</p>
				</div>

				<!-- begin ADD SIGHTING FORM -->

				<div class="row m-4 border border-light addForm">
					<div class="col-3 text-center m-3">
						<span class="h3">Add Super Being Sighting!</span>
						<hr>
						<p>This is what it's all about. Fill out this form to add a Super Being Sighting to the database!</p>
					</div>
					<div class="col-7 text-center m-3">
						<form action="addSighting" method="POST">
							<div class="form-group row">
								<label for="supers" class="col-3 col-form-label text-right">* Super Beings</label>
								<div class="col-9">
									<select id="supers" name="superId" class="form-control">
										<option
										th:each="super : ${supers}"
										th:value="${super.id}"
										th:text="${super.name}">Super Being</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="location" class="col-3 col-form-label text-right">* Location</label>
								<div class="col-9">
									<select id="location" name="locationId" class="form-control">
										<option th:each="location : ${locations}"
										th:value="${location.id}"
										th:text="${location.name}">
										Location
									</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="sightingDate" class="col-3 col-form-label text-right">* Date</label>
							<div class="col-9">
								<input type="date" name="sightingDate" id="sightingDate" class="form-control" required
								 oninvalid="this.setCustomValidity('Please select a date for the Sighting.')"
								 oninput="this.setCustomValidity('')"/>
							</div>
						</div>
						<button type="button" class="btn nav-btn-primary"><a href="#" th:href="@{/sightings}">Cancel</a></button>
						<button type="submit" class="btn nav-btn-primary">Add Sighting</button>
					</form>
				</div>
			</div>



			<!-- end ADD SIGHTING FORM -->

			<!-- begin SIGHTING TABLE -->

			<div class="row border m-4 border-light locationTable justify-content-center">
				<div class="col text-center m-4">
					<table class="table table-striped">
						<h3>Super Being Sightings!</h3>
						<hr>
						<thead>
							<tr>
								<th>ID</th>
								<th>Date</th>
								<th>Super Being</th>
								<th>Location</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="sighting : ${sightings}">
								<td th:text="${sighting.id}">ID</td>
								<td th:text="${#temporals.format(sighting.date, 'MMMM-dd-yyyy')}">Date</td>
								<td th:text="${sighting.supe.name}">Super Being</td>
								<td th:text="${sighting.location.name}">Location</td>
								<td><a href="#" th:href="@{/editSighting(id=${sighting.id})}">Edit</a></td>
								<td><a href="#" th:href="@{/deleteSighting(id=${sighting.id})}">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


			<!-- end POWER TABLE -->

			<!-- begin DELETE MODAL -->

<!-- Modal --
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Continue?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete Sighting #<span th:each="sighting : ${sightings}"><span th:text="${sighting.id}"/>?</p></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"><span th:each="sighting : ${sightings}"><a href="#" th:href="@{/deleteSighting(id=${sighting.id})}"></span>Delete</a></button>
      </div>
    </div>
  </div>
</div>
-->
<!-- end DELETE MODAL -->



<!-- end of container -->
</div>









<!-- End main body -->


<!-- notes 


	background-image: url('file:///Users/benrickel/Desktop/Software%20Guild/Badge%204%20Files/superherosightings/images/1689762.jpg');





-->









<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>


