<!doctype html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<!-- CSS stylesheet -->
		<link th:href="@{/styles.css}" rel="stylesheet" type="text/css"/>

		<title>Ben's Super Sightings</title>
	</head>
	<body>
		<!-- Main Body of Page -->

		<!-- header Jumbotron -->
		<div class="container">
			<a href="#" th:href="@{/}">
				<div class="p-5 text-center bg-light border border-light pageHeader">
					<h1>Super Sightings!</h1>
				</div></a>
				<!-- end header Jumbotron -->	


				<!-- nav bar -->
				<div class="row m-4 border border-light nav sticky-top"> 
					<div class="col text-center m-3">
						<a href="supers" class="nav-btn-primary btn-lg">Supers</a>
					</div>
					<div class="col text-center m-3">
						<a href="powers" class="nav-btn-primary btn-lg">Powers</a>
					</div>
					<div class="col text-center m-3">
						<a href="sightings" class="nav-btn-primary btn-lg">Sightings</a>
					</div>
					<div class="col text-center m-3">
						<a href="organizations" class="nav-btn-primary btn-lg">Organizations</a>
					</div>
					<div class="col text-center m-3">
						<a href="locations" class="nav-btn-primary btn-lg">Locations</a>
					</div>
				</div>
				<!-- end nav bar -->

				<!-- begin SUPER DETAILS TABLE -->


				<div class="row m-4 border border-light details">
					<div class="col text-center p-4"><h3>Super Being Details</h3><hr>
						<div class="row">
							<div class="col-6">
								<div class="row p-4">
									<div class="col-6 text-right"><strong>Name:</strong></div>
									<div class="col-6 text-left"><span th:text="${super.name}">super name</span></div>
									<div class="col-6 text-right"><strong>Morality</strong></div>
									<div class="col-6 text-left"><span th:text="${super.morality}">super morality</span></div>
									<div class="col-6 text-right"><strong>Super Power:</strong></div>
									<div class="col-6 text-left"><span th:text="${super.power.name}">super power</span></div>
									<div class="col-6 text-right"><strong>Description:</strong></div>
									<div class="col-6 text-left"><span th:text="${super.description}">super description</span></div>
								</div>
							</div>
							<div class="col-6">
								<div class="text-center p-4"><img th:src="${super.pic}"></span></div>
							</div>
						</div>
						<div class="row m4">
						<div class="col text-center p-4">
							<button type="button" class="btn nav-btn-primary"><a href="#" th:href="@{/supers}">Back</a></button>
						</div>
					</div>
					</div>



					<!-- end SUPER DETAILS TABLE -->





					<!-- end of container -->
				</div>









				<!-- End main body -->


<!-- notes 


	background-image: url('file:///Users/benrickel/Desktop/Software%20Guild/Badge%204%20Files/superherosightings/images/1689762.jpg');





-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>




